h2 {
  color: #0000ff;
  font-family: sans-serif;
}
body {
  color: #b40c06;
  font-family: sans-serif;
}
h3 {
  color: #e0e0f7ef;
}
p {
  color: rgb(34, 11, 138);
}
ul {
  color: rgb(9, 88, 6);
}
body {
  background-color: aqua;
}
